body{
    overflow-x: hidden;
}

.create-item{
    margin-top: -3.5%;
}

.swipeable{
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-55%);
}

.blur{
    backdrop-filter: blur(10px);
}

@keyframes slideRight {
    0% {
        transform: translateX(-30%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(30%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideRight{
    animation: slideRight 1s ease;
}

.slideLeft{
    animation: slideLeft 1s ease;
}

.slideDown{
    animation: slideDown 1s ease;
}

.slideUp{
    animation: slideUp 1s ease;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fadeIn{
    animation: fadeIn 0.5s ease;
}

.ping{
    width: 8px;
    height: 8px;
    background-color: #fd2879;
    position: absolute;
    top: 0;
    right: -12px;
    border-radius: 50%;
}